name: "technology_config"
description: "This hybrid plant produces electricity from wind and battery storage."


technologies:
  wind:
    performance_model:
      model: "pysam_wind_plant_performance"
    cost_model:
      model: "atb_wind_cost"
    dispatch_rule_set:
      model: "pyomo_dispatch_generic_converter"
    resource:
      type: "pysam_wind"
      wind_speed: 9.
    model_inputs:
      performance_parameters:
        num_turbines: 25
        turbine_rating_kw: 8300
        rotor_diameter: 196.
        hub_height: 130.
        create_model_from: "default"
        config_name: "WindPowerSingleOwner"
        pysam_options: !include pysam_options_8.3MW.yaml
        run_recalculate_power_curve: False
        layout:
          layout_mode: "basicgrid"
          layout_options:
            row_D_spacing: 10.0
            turbine_D_spacing: 10.0
            rotation_angle_deg: 0.0
            row_phase_offset: 0.0
            layout_shape: "square"
      cost_parameters:
        capex_per_kW: 1500.0
        opex_per_kW_per_year: 45
        cost_year: 2019
      dispatch_rule_parameters:
        commodity_name: "electricity"
        commodity_storage_units: "kW"
  battery:
    dispatch_rule_set:
      model: "pyomo_dispatch_generic_storage"
    control_strategy:
      model: "optimized_dispatch_controller"
    performance_model:
      model: "pysam_battery"
    cost_model:
      model: "atb_battery_cost"
    model_inputs:
      shared_parameters:
        commodity_name: "electricity"
        max_charge_rate: 100000
        max_capacity: 400000
        n_control_window: 24 # in timesteps (currently hours), The length of time that the control is applied to in the rolling window optimization
        n_horizon_window: 48 # in timesteps (currently hours), The horizon window the optimization is run over
        init_charge_percent: 0.5 # Initial SOC for the storage
        max_charge_percent: 0.9 # Maximum SOC allowable for the storage technology
        min_charge_percent: 0.1 # Minimum SOC allowable for the storage technology
        system_commodity_interface_limit: 1e12
        time_weighting_factor: 0.995 # This parameter discounts each subsequent time step incrementally in the future in the horizon window by this amount
        charge_efficiency: 0.95 # Charge efficiency of the storage technology
        discharge_efficiency: 0.95 # Discharge efficiency of the storage technology
        commodity_storage_units: "kW"
        cost_per_charge: 0.03 # in $/kW, cost to charge the storage (note that charging is incentivized)
        cost_per_discharge: 0.05 # in $/kW, cost to discharge the storage
        commodity_met_value: 0.1 # in $/kW, penalty for not meeting the desired load demand
        cost_per_production: 0.0 # in $/kW, cost to use the incoming produced commodity (i.e. electricity from wind)
      performance_parameters:
        system_model_source: "pysam"
        chemistry: "LFPGraphite"
      cost_parameters:
        cost_year: 2022
        commodity_units: "kW"
        energy_capex: 310 # $/kWh from 2024 ATB year 2025
        power_capex: 311 # $/kW from 2024 ATB year 2025
        opex_fraction: 0.25 # 0.25% of capex per year from 2024 ATB
      control_parameters:
        tech_name: "battery"
